@import 'https://fonts.googleapis.com/css?family=Lato:300';
  
  a {
    color: #000;
  }
  
  /* header */
  
  .header{
    background-color:rgba(255,255,255,0.3);
    z-index:10;
  }
  
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    align-content: center;
  }
  
  .header li a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
    color:black;
    font-size:14px;
  }
  
  .header li a:hover,
  .header .menu-btn:hover {
    background-color: #4E4E50;
  }
  
  .header .logo {
    display: block;
    float: left;
    font-size: 25px;
    padding: 10px 20px;
    text-decoration: none;
    color:black;
    margin-right:20px;
    padding-top:15px;
  }
  
  /* menu */
  
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
    
  }
  
  /* menu icon */
  
  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .header .menu-icon .navicon {
    background: rgb(255, 255, 255);
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: rgb(255, 255, 255);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    background-color: black;
    top: 5px;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
    background-color: black;
  }

  .header .menu-icon .navicon span{
    background-color:black;
  }

  .header .menu-icon:hover{
      background-color:#4E4E50;;
  }
  
  /* menu btn */
  
  .header .menu-btn {
    display: none;
  }

  
  .header .menu-btn:checked ~ .menu {
    max-height: 240px;
    position:absolute;
    margin-top:7px;
    background-color:rgba(255, 255, 255,0.9);
    width:95%;
    max-width:1240px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  
  /* 48em = 768px */
  
  @media (min-width: 48em) {
    .header li {
      float: left;
    }
    .header li a {
      padding: 20px 30px;
      padding-bottom:21px;
      height: 17px;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }
  }